/* You can add global styles to this file, and also import other style files */
@import './normalize.css';

/* Custom styles
------------------------------------------------------------------------------- */

html {
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  background: linear-gradient(#0d263c,#030714) no-repeat fixed;
  color: #ffffff;
  height: 100%;
  margin: 20px;
}

h1 {
  color: #66d9f7;
}

